IGMWGpEcRde9HpXk-Cold_Emailer.json
{
  "name": "Cold Emailer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        336
      ],
      "id": "331c324b-33d0-404f-8be6-170ab32c7a27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI",
          "mode": "list",
          "cachedResultName": "Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        336
      ],
      "id": "7e184309-3396-48bd-b0f0-f3391190398b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "65WzZkEMUnBLXPKl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        448,
        336
      ],
      "id": "77a50f2c-a373-44eb-82bb-1dd270dcf488",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an honest, direct AI Sales Development Representative (SDR).\nI am contacting a business named: {{ $json[\"Business Name\"] }}\nLocated in: {{ $json.City }}\nMy observation/Hook about them: {{ $json.Hook }}\n\nTask: Write a cold email using one of the 3 specific templates below.\n\nConstraints:\n1. If you cannot determine a First Name, use \"there\" or \"{{ $json[\"Business Name\"] }} Team\".\n2. Replace {{Hook}} with the observation provided above. Ensure it flows grammatically.\n3. Select one of the 3 Drafts randomly.\n\n---\nDRAFT 1 (The \"Transparency\" Angle)\nSubject: This email was written after reading {{ $json[\"Business Name\"] }}’s site\nBody:\nHey [Name],\n\nThis message was created after my AI SDR scanned your website and {{ $json.Hook }}.\n\nIt automatically generates personalized hooks and sends outbound emails like this to save me hours of manual work.\n\nI’m running a small pilot right now to build this exact system for other businesses.\n\nWorth a quick look?\n\n—  \nP.S. Fully transparent — this email was generated and sent by my AI agent.\n\n---\nDRAFT 2 (The \"Product Demo\" Angle)\nSubject: Question about your website\nBody:\nHey [Name],\n\nI was reading your website and {{ $json.Hook }}.\n\nI actually built an AI SDR that reads content like this and then writes personalized emails automatically (just like this one).\n\nI’m offering a pilot setup this week at a discounted rate in exchange for a short testimonial if it works for you.\n\nOpen to seeing a sample?\n\n—  \nP.S. This email was generated and sent by an AI SDR after reviewing your site.\n\n---\nDRAFT 3 (The \"Direct\" Angle)\nSubject: Quick question about {{ $json[\"Business Name\"] }}\nBody:\nHey [Name],\n\n{{ $json.Hook }}.\n\nI built an AI SDR that reads a prospect’s website, then writes and sends emails with hooks like this automatically.\n\nI’m onboarding one pilot client this week to install this system for them.\n\nWould it make sense to explore this for {{ $json[\"Business Name\"] }}?\n\n—  \nP.S. This email was generated and sent by my AI SDR.\n---\n\nOutput Format: You MUST reply with ONLY a JSON object:\n{\n\"subject\": \"The chosen subject line\",\n\"body\": \"The full email body selected above\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1008,
        336
      ],
      "id": "b508d04e-47ef-4646-b967-7778efa04208",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        560
      ],
      "id": "b9a27b6d-00b2-4109-8c12-6b83c27771d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GD4QgShZfPghZSZD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        336
      ],
      "id": "fdbc5b91-8c1c-4c72-9e4e-fbee6c834d9f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2bff88bd-a693-411f-84b6-f6c12d831887",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8629d38c-fa1e-4e89-86c9-b8e05f0ca998",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7be1981b-2db0-4bf6-aed2-b9bc5f3d69e1",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "580506f1-49b0-40bb-bdba-d5ce3a3f1823",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3f70763-2d8e-4b6b-8899-f22d98973867",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afc77c76-650b-4dde-8012-22e71bde31f2",
                    "leftValue": "={{ $json.account_id }}",
                    "rightValue": 6,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1616,
        272
      ],
      "id": "e9051cf5-2a81-4d1d-aa84-26246f53e2c6",
      "name": "Switch"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <seetay1012@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        -144
      ],
      "id": "21cf6d6d-db0d-482f-a0eb-e6694727fb91",
      "name": "Gmail#1",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "5f3tGDlUD7hfd4If",
          "name": "Gmail#1"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <tusharagarwal1312@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        48
      ],
      "id": "de901b69-b839-4779-b5b6-01c22bf13763",
      "name": "Gmail#2",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "578G6g40NutarZWI",
          "name": "Gmail#2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <tusharagarwal2608@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        240
      ],
      "id": "a3ffdb34-b6e5-4ff7-aa71-181ad612c178",
      "name": "Gmail#3",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "nuYTGqplBaKsCuTT",
          "name": "Gmail#3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <tushar.ai.automation@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        432
      ],
      "id": "8ca71d1e-38e0-428d-ac32-3ffe663d2941",
      "name": "Gmail#4",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "XVeWgE97QfAeCBq7",
          "name": "Gmail#4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <udaiagarwal23@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        624
      ],
      "id": "03412548-6827-4f77-804f-18cc82c9dda3",
      "name": "Gmail#5",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "JPd0zqoMRtVAsQBO",
          "name": "Gmail#5"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "Sassteq Support <tusharagarwal1012@gmail.com>",
        "toEmail": "={{ $('Loop Over Items').item.json.Email }}",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1840,
        816
      ],
      "id": "fa7880e7-03d3-445f-b00c-7636dbc6c55b",
      "name": "Gmail#6",
      "webhookId": "890935b3-501f-4438-b29a-a1e98121fcd8",
      "retryOnFail": true,
      "credentials": {
        "smtp": {
          "id": "dVAClPVuMcvUYk0d",
          "name": "Gmail#6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "683b6532-ae8a-4ee9-9839-835cd73a19c4",
              "name": "account_id",
              "value": "={{ Math.ceil(Math.random() * 6) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        336
      ],
      "id": "7c661dbe-5f5b-41f3-bbfb-097ee0b7c9fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        352
      ],
      "id": "766e0d4c-65c4-4a62-8148-69d6257951af",
      "name": "Wait",
      "webhookId": "1cad0b2d-5f9e-4a5f-a44b-37c2a6c3eea0"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI",
          "mode": "list",
          "cachedResultName": "Leads Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NuCYd6G_AoD93ltclVK-OWc_WxUgp9jl7nOPn1yNDtI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Loop Over Items').item.json.Email }}",
            "Status": "Emailed"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Business Name",
              "displayName": "Business Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Source URL",
              "displayName": "Source URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2304,
        352
      ],
      "id": "4a5e0e0b-a457-4db1-9ff6-de8b5e2accd4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "65WzZkEMUnBLXPKl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1024,
        560
      ],
      "id": "6ad87596-1d34-47b2-b6e4-759125e7dd5a",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1040,
        768
      ],
      "id": "92684ae4-5be4-4b89-baa1-290259d6d6a8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "PVzgrDWrB3wzgHWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The cold email subject line, under 6 words.\"\n    },\n    \"body\": {\n      \"type\": \"string\",\n      \"description\": \"The main email body text, personalized and ready to send.\"\n    }\n  },\n  \"required\": [\n    \"subject\",\n    \"body\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        768
      ],
      "id": "a77ccfe4-37cb-4784-a353-0fbea61d10f6",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail#1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail#2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail#3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail#4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail#5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail#6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail#3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail#1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail#2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail#4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail#6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}